// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 100%;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  // color: $brand-color;
  text-decoration: none;

  @include on-event {
    // color: $text-color;
    text-decoration: underline;
  }
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;

  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

app-root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

app-landing-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

app-vehicle-table {
  width: 100%;
  display: flex;
  justify-content: center;
}

app-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}