@import '~@angular/material/theming';
@import '../abstracts/variables';

.mat-card {
    width: 100%;
}

.vehicle-card__container {
    display: flex;
    justify-content: center;

    & .vehicle-card__title {
        @include mat-typography-level-to-styles($config, title);
    }

    & .vehicle-card__subtitle {
        @include mat-typography-level-to-styles($config, subheading-2);
    }

    & .vehicle-card__content-main {
        width: 62%;
    }

    & .vehicle-card__content-side {
        width: 13%;        
        flex-direction: column;
        align-items: center;
    }

    & .vehicle-card__content-image {
        width: 25%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 100%;
            margin: 5% 5% 0 0;
        }
    }
}

.vehicle-card__main-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3% 0 2% 0;

    & .vehicle-card__item {
        // background: mat-color($app-accent, A200);
        background: mat-color($app-primary, 300);
        // color: white;
        // background: linear-gradient(45deg, mat-color($app-accent, A700) 0%, mat-color($mat-green, A200));
        // background: linear-gradient(135deg, mat-color($app-accent, A200) 0%, mat-color($app-accent, A700));
        // color: white;
        // width: 40%;
        width: auto;
    }
}

.vehicle-card__side-item-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    & .vehicle-card__item {
        justify-content: flex-end;
        padding: 0;
        // background: mat-color($app-primary);
        // color: white;
        width: 100%;
        // padding: 5%;
        // margin-left: 5%;
    }
}

.vehicle-card__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    // margin: 2% 2% 0 0;
    border-radius: 2px;
    // font-size: 1rem;
    // font-weight: mat-font-weight($config, button);
    @include mat-typography-level-to-styles($config, body-1);
    
    & p {
        text-indent: 0.1rem;
    }

    & .mat-icon {
        padding: 0 10% 0 0;
        transform: scale(0.8);
    }
}

@media (max-width: map-get($breakpoints, 'tablet')) {
    
    .vehicle-card__container {
        & .vehicle-card__content-main {
            width: 55%;        
        }

        & .vehicle-card__content-side {
            width: 15%;
        }

        & .vehicle-card__content-image {
            width: 30%;
        }
    }

    .vehicle-card__main-item-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;

        & .vehicle-card__item {
            width: 40%;
        }
    }

    .vehicle-card__item {
        @include mat-typography-level-to-styles($config, body-1);
        padding: 2%;
        margin: 2%;
    }
}

@media (max-width: map-get($breakpoints, 'phone')) {
    
    .vehicle-card__container {
        
        &.vehicle-card__content-main {
            width: 30%;
        }

        & .vehicle-card__content-side {
            width: 30%;
        }

        & .vehicle-card__content-image {
            width: 40%;
        }
    }

    .vehicle-card__main-item-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 5%;
        padding-left: 3%;
        
        & .vehicle-card__item {
            width: 100%;
        }
    }

    .vehicle-card__item {
        font-size: 0.75rem;
        font-weight: mat-font-weight($config, body-2);
    }
}

