// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@import '~@angular/material/theming';

.footer {    
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  background-color: mat-color($app-accent, 500);
  color: mat-color($app-accent, contrast(500));
  text-align: center;
  display: flex;
  justify-content: center;
}