@import '~@angular/material/theming';

.navbar {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;  
  width: 100%; 
  z-index: 5;  
}

.navbar__spacer {
  flex: 1 1 auto;
}

.navbar__item {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  margin: auto;
  text-decoration: none;
}

.navbar__item img {
  width: 50px;
}

.navbar__item a {
  font-size: 40px; 
  color: mat-color($app-primary, 100);
  display: flex; 
  justify-content: center; 
  align-items: center; 
}